{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 m-auto">
            <h2>Sign up</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}

                <div class="">
                    <label for="exampleFormControlInput1" class="form-label">{{field.label_tag }}</label>
                    {{field}}
                   <!-- {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %} -->
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>

                {% endfor %}
                <button class="btn btn-success" type="submit">Sign up</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}